<%# locals: (article:) %>
<li class="flex items-center h-32 py-2" style="view-transition-name: <%= dom_id(article) %>">
  <div class="w-48 h-full bg-cover" style="background-image: url('<%= article.image %>')">
    <div class="bg-gradient-to-r from-transparent to-neutral-950 to-90% h-full"></div>
  </div>
  <div class="flex-1 -m-12">
    <p class="font-bold text-sm text-neutral-500">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
      <%= article.category.upcase %>
    </p>
    <p class="font-bold text-xl"><%= article.title %></p>
    <p class="text-sm text-neutral-500"><%= article.published_at.strftime('%Y. %m. %d.') %></p>
  </div>
</li>
