<div class="max-w-[50%] w-full">
  <p class="text-3xl text-neutral-500 mb-3"><%= name %></p>
  <ul class="flex flex-col gap-2">
    <% if recursive %>
      <%= render "match_bracket", name: "", recursive: false %>
      <%= render "match_bracket", name: "", recursive: false %>
    <% else %>
      <%= render "match" %>
      <%= render "match" %>
    <% end %>
  </ul>
</div>
